source_up

export PROJECT_ROOT=$(pwd)
export PROJECT_NAME=$(basename $PROJECT_ROOT)

export TICKER_CA_CERT="../certs/ca.crt"
export TICKER_CLIENT_CERT="../certs/client-invalid.crt"
export TICKER_CLIENT_KEY="../certs/client-invalid.key"
